## 1. Write a Python program to convert kilometers to miles?

In [2]:
km=int(input("Enter the a value in km:"))
miles=km*0.621371
print(f"{km} km is {miles} miles")

Enter the a value in km:7
7 km is 4.349597 miles

## 2. Write a Python program to convert Celsius to Fahrenheit?

In [3]:
c=int(input("Enter the a value in celsius:"))
f=c*33.8
print(f"{c}째C is {f}째F")

Enter the a value in celsius:5
5째C is 169.0째F

## 3. Write a Python program to display calendar?

In [5]:
import calendar
year= int(input("Enter the year: "))
month= int(input("Enter the month: "))
calendar.setfirstweekday(calendar.SUNDAY)
monthcalendar=calendar.month(year,month)
print(monthcalendar)
print("-------------------------------------------------------------------------------------")
year_calendar=calendar.calendar(year)
print(year_calendar)

Enter the year: 2018
Enter the month: 3
     March 2018
Su Mo Tu We Th Fr Sa
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

-------------------------------------------------------------------------------------
                                  2018

      January                   February                   March
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

## 4. Write a Python program to solve quadratic equation?

In [6]:
# quadratic equation:(a+b)**2=(a**2)+(2*a*b)+(b**2)
a=int(input("Enter first no.:"))
b=int(input("Enter second no.:"))
c=(a+b)**2
print(c)

Enter first no.:6
Enter second no.:7
169

## 5. Write a Python program to swap two variables without temp variable?

In [8]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
a1=b
b1=a
print(f"The numbers were {a} and {b}\nThe swaped numbers are {a1} and {b1}")

Enter first number:3
Enter second number:4
The numbers were 3 and 4
The swaped numbers are 4 and 3